@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');

h1 {
  color: #4799B1;
  font-family: 'Saira Stencil One', cursive;
  font-size: 200px;
}

body {
  background-image: linear-gradient(#63DCFF, #63FF74, #8963FF);
  background-image: url(https://github.com/cxindyli/portfolio2/blob/master/surprisedpikachu.png?raw=true);
}
