@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');

h1 {
  color: #4799B1;
  font-family: 'Saira Stencil One', cursive;
  font-size: 100px;
  text-align: center;
  border-bottom: 5px solid red;
  background-color: #8FD78F;
  
  margin:100px;
  
}

body {
  background-image: url(https://github.com/cxindyli/portfolio2/blob/master/surprisedpikachu.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  
  
}

div {
  border: 5px dotted blue;
  margin: 10px;
  height: 800px;
  width: 800px;
  text-align:center;
}

.hobbies {
  float:left;
}

.movies{
  float:right;
}

.pewdiepie{
  clear: both;
}
